@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url('https://fonts.googleapis.com/css?family=Share:400i,700i');
@import url("font-awesome.min.css");

body,

.slider-2 {
	padding-top: -10rem;
	padding-bottom: 4rem;
	background-color: transparent;
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 370px;
	text-align: center;
}